<h1>Listing relatedsymbols</h1>

<table>
  <tr>
    <th>Symbol1</th>
    <th>Symbol text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @relatedsymbols.each do |relatedsymbol| %>
  <tr>
    <td><%= relatedsymbol.symbol1_id %></td>
    <td><%= relatedsymbol.symbol_text %></td>
    <td><%= link_to 'Show', relatedsymbol %></td>
    <td><%= link_to 'Edit', edit_relatedsymbol_path(relatedsymbol) %></td>
    <td><%= link_to 'Destroy', relatedsymbol, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Relatedsymbol', new_relatedsymbol_path %>
