<br><br>
<% [:notice,  :alert].each do |level| %>
    <% unless flash[level].blank? %>
        <span class="sign_msg">
            <%= content_tag :p, flash[level] %>
       </span>
    <% end %>
<% end %>


<div class="container">
  <div class="grid-08" style="margin-left: 29%; margin-top: 7%;">
    <%#= form_for(resource, :as => resource_name,:validate =>true, :url => registration_path(resource_name)) do |f| %>
    <%= form_for account_verification_path, :html => { :method => :put } do |f| %>
        <div class="widget">
          <div class="widget-header">
            <span class="icon-article"></span>
            <h3>Resend Verification</h3>
            <div class="bulk_back">
              <%= link_to t('ui.action.back'), sign_in_path, :class => "buttonstyle_orange_small" %>
            </div>
          </div>
          <div class="widget-content">
            <div class="form-box-wrapper_sign">
              <div class="form-box">
                <div class="field-group">

                  <table style="margin-left: 10px;" id="field_table">
                    <tr>
                      <td>
                        Email
                      </td>
                      <td>
                        <%= f.email_field :email, :autofocus => true, :name => "email" %>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <div class="actions" style="margin-left: 80%;">
                          <%= f.submit "Submit" ,:class=>"buttonstyle_orange" %>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
