<html>

<%= "Ola #{@user.members[0].first_name}," %> <br/> <br/>


<%= "Your verification code is - #{@code}." %>  <br/> <br/>


<%= "Ola Mundo Team" %>  <br/> <br/>


<h5 style="color: rgb(153, 153, 153);"><%= "Please do not reply to this email." %></h5>
<h5 style="color: rgb(153, 153, 153);"><%= "This email has been sent to you from Ola Mundo during your account registration." %></h5>


</html>