<p><%=  "Ola'" %> <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password, and you can do this through the link below.</p>

<p><%= link_to t('password.change_my_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%=  t('ui.h1.dint_request') %></p>
<p><%=  t('ui.h1.password_wont_change') %></p>    <br/>


<p><%=  "Ola Mundo Team" %></p>

