<script>
    function update_symbolText(symbol_id, symbol_text) {
        $.ajax({url:'<%= url_for update_symbol_symbol1s_path %>',
            data:{"symbol_id":symbol_id, "symbol_text":symbol_text},
            dataType:'script'})
    }

    function update_category(symbol_id, category_id) {
        $.ajax({url:'<%= url_for update_symbol_symbol1s_path %>',
            data:{"symbol_id":symbol_id, "category_id":category_id},
            dataType:'script'})
    }

    function update_symbol_type(symbol_id, symbol_type) {
        $.ajax({url:'<%= url_for update_symbol_symbol1s_path %>',
            data:{"symbol_id":symbol_id, "symbol_type":symbol_type},
            dataType:'script'})
    }
</script>
<div class="container pop_align">
  <div class="grid-16" style="margin-left: 18%; margin-top: 5%;">
    <div class="widget">
      <div class="widget-header">
        <span class="icon-article"></span>

        <h3>Add Symbol Details</h3>
      </div>
      <div class="widget-content">
        <div class="form-box-wrapper_login">
          <div class="form-box">
            <div>
                <%= button_to "Cancel", cancel_symbols_saving_symbol1s_path, :method => :delete, :class => "buttonstyle_orange_small", :title => "Cancel Saving", :style => "float:right; margin-right:24px;", :onclick => "spinner_load();"%>
                <%= button_to "Save", bulk_upload_symbols_path, :class => "buttonstyle_orange_small", :title => "Save Image Details", :style => "float:right; margin-right:14px;" %>
            </div>
            <div class="field-group" style="width:100%; max-height: 555px; overflow:auto;">
              <table id="field_table">
                <thead style="text-align: center;">
                <td>
                  <%= "Image" %>
                </td>
                <td>
                  <%= "Text" %>
                </td>

                <td>
                  <%= "Symbol Type" %>
                </td>

                <td>
                  <%= "Category" %>
                </td>

                <td>
                  <%= "Delete" %>
                </td>
                </thead>

                <tbody>
                <% if session[:new_symbols] != nil %>
                    <% session[:new_symbols].each do |f| %>
                        <% @symbol_new = Symbol1.find(f) %>
                        <tr>
                          <td style="text-align: center;">
                            <%= image_tag @symbol_new.symbol_image.url(:medium), :class => "img_align" %> <br>
                          </td>

                          <td style="text-align: center;">
                            <!--<input type="text" name="<%#=@symbol_new.id%>" value="" onchange="update_symbolText(this.name,this.value);"/>-->
                            <%#= text_field(@symbol_new.id, :word, :style => "width: 100px;", :onchange => "update_symbolText(this.name,this.value);") %>
                            <%= text_field_tag @symbol_new.id, @symbol_new.word, :style => "width: 100px;", :onchange => "update_symbolText(this.name,this.value);" %>
                          </td>

                          <td style="text-align: center;">
                            <%= select_tag @symbol_new.id, options_for_select(["Symbol", "Picture"], @symbol_new.symbol_type), :onchange => "update_symbol_type(this.name,this.value);" %>
                            <%#= select(@symbol_new, @symbol_new.symbol_type, ["Symbol", "Picture"], {:onchange => "update_symbol_type(this.name,this.value);"}) %>
                            <%#= select_tag @symbol_new.symbol_type, options_for_select("Symbol", "Picture"), {:onchange => "update_symbol_type(this.name,this.value);"} %>
                          </td>

                          <td style="text-align: center;">
                            <%#= f.select(:category_id, @category) %>
                            <!--<select name="<%#= @symbol_new.id %>" onchange="update_category(this.name,this.value);">-->
                            <!--<option value="--choose category--"></option>-->
                            <%#Category.all.each do |category|  %>
                            <!--<option value="<%#= category.id %>"> <%#= category.category_name %></option>-->
                            <%#= select(@symbol_new.id, :category_id, @category, :onchange => "update_category(this.name,this.value);") %>
                            <%= select_tag @symbol_new.id, options_for_select(@category, @symbol_new.category_id), :onchange => "update_category(this.name,this.value);" %>
                            <%#end%>
                            <!--</select>-->

                          </td>

                          <td style="text-align: center;padding-top: 45px;">
                            <%= link_to (image_tag("delete1.jpg", :size => "20x20")), delete_symbol_symbol1s_path(:symbol_id => @symbol_new.id), :method => :delete, :title => "Delete Symbol", :data => {:confirm => "Are You Sure?"}, :onclick => "spinner_load();" %>
                            <br/><br/>
                          </td>

                        </tr>
                    <% end %>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
